/* REESPONSIVE */
@media (max-width: 992px){
    .containerForm{
      margin-top: 30px;
    }
    .containerCheckbox input{
      position: relative;
      top: 5px;
      left: 10px;
    }
    .containerLinks a{
      padding: 0px 10px;
    }
  }